*{
	margin: 0px;
	padding: 0px;
}

.s5_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s5_2 {
	position: absolute;
  left: 0px;
  top: 302px;
  width: 495px;
  height: 466px;
	animation: fadeInUp 0.3s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}

.s5_3 {
	position: absolute;
  left: 98px;
  top: 503px;
  width: 205px;
  height: 167px;
	animation: zoomIn 0.3s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 6;
}

.s5_4 {
	position: absolute;
  left: 438px;
  top: 117px;
  width: 115px;
  height: 290px;
	animation: flashLong 2.5s infinite;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 8;
}

.s5_5 {
	position: absolute;
  left: 754px;
  top: 633px;
  width: 112px;
  height: 102px;
	animation: stampIn 0.3s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	z-index: 8;
}

.s5_6 {
	position: absolute;
  left: 725px;
  top: 282px;
  width: 303px;
  height: 216px;
	animation: fadeInRight 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 2;
}

.s5_7 {
	position: absolute;
  left: 82px;
  top: 366px;
  width: 883px;
  height: 140px;
	animation: fadeInDown 1s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s5_8 {
	position: absolute;
  left: 516px;
  top: 321px;
  width: 144px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 2;
}

.s5_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s5_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s5_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}



@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,540px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,850px,540px,0px);
	opacity: 1;
  }
}

@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}
