*{
	margin: 0px;
	padding: 0px;
}

.s2_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2_2 {
	position: absolute;
  left: 84px;
  top: 445px;
  width: 210px;
  height: 218px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}

.s2_3 {
	position: absolute;
  left: 304px;
  top: 445px;
  width: 206px;
  height: 218px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_4 {
	position: absolute;
  left: 510px;
  top: 445px;
  width: 222px;
  height: 218px;
	animation: fadeInUpSmall 0.5s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_5 {
	position: absolute;
  left: 740px;
  top: 445px;
  width: 210px;
  height: 218px;
	animation: fadeInUpSmall 0.5s;
	animation-delay: 0.9s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_6 {
	position: absolute;
  left: 725px;
  top: 282px;
  width: 303px;
  height: 216px;
	animation: fadeInRight 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_7 {
	position: absolute;
  left: 82px;
  top: 366px;
  width: 883px;
  height: 140px;
	animation: fadeInDown 1s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_8 {
	position: absolute;
  left: 516px;
  top: 321px;
  width: 144px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 2;
}

.s2_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s2_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s2_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}



@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}