*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
	animation: fadeIn 1.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 594px;
  top: 22px;
  width: 390px;
  height: 746px;
	animation: slideInUp 0.7s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 600px;
  top: 370px;
  width: 92px;
  height: 111px;
	animation: fadeIn 2s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 342px;
  top: 306px;
  width: 285px;
  height: 347px;
	animation: flyBy 1.5s linear;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 55px;
  top: 550px;
  width: 554px;
  height: 166px;
	animation: fadeInLeft 0.7s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 5;
}



@keyframes flyBy {
  0% {
  opacity: 1;
  left: -308px;
  top: -94px;
  width: 285px;
  height: 347px;
  }

  70% {
  opacity: 1;
  left: 132px;
  top: 266px;
  width: 285px;
  height: 347px;
  }

  100% {
  opacity: 1;
  left: 342px;
  top: 306px;
  width: 285px;
  height: 347px;
  }
}
