*{
	margin: 0px;
	padding: 0px;
}

.s7_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s7_2 {
	position: absolute;
  left: 241px;
  top: 279px;
  width: 431px;
  height: 489px;
	animation: fadeInUp 0.3s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}  

.s7_3 {
	position: absolute;
  left: 419px;
  top: 498px;
  width: 180px;
  height: 204px;
	animation: zoomIn 0.3s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 6;
}

.s7_4 {
	position: absolute;
  left: 61px;
  top: 86px;
  width: 213px;
  height: 21px;
	animation: flashLong 2.5s infinite;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s7_5 {
	position: absolute;
  left: 383px;
  top: 87px;
  width: 106px;
  height: 16px;
	animation: slideInUp 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s7_6 {
	position: absolute;
  left: 706px;
  top: 87px;
  width: 126px;
  height: 16px;
	animation: fadeInRight 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 2;
}

.s7_7 {
	position: absolute;
  left: 82px;
  top: 366px;
  width: 883px;
  height: 140px;
	animation: fadeInDown 1s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s7_8 {
	position: absolute;
  left: 516px;
  top: 321px;
  width: 144px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 2;
}

.s7_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s7_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s7_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}

@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,150px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,610px,150px,0px);
	opacity: 1;
  }
}