*{
	margin: 0px;
	padding: 0px;
}

.s4_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s4_2 {
	position: absolute;
  left: 553px;
  top: 505px;
  width: 287px;
  height: 263px;
	animation: slideInUp 0.3s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s4_3 {
	position: absolute;
  left: 590px;
  top: 582px;
  width: 193px;
  height: 127px;
	animation: zoomIn 0.3s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 4;
}

.s4_4 {
	position: absolute;
  left: 289px;
  top: 466px;
  width: 447px;
  height: 238px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	z-index: 4;
}

.s4_5_wrap {
	position: absolute;
  left: 636px;
  top: 493px;
  width: 100px;
  height: 172px;
	animation: fadeIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s4_5 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 172px;
	animation: pulse 2s infinite;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s4_6 {
	position: absolute;
  left: 725px;
  top: 282px;
  width: 303px;
  height: 216px;
	animation: fadeInRight 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 2;
}

.s4_7 {
	position: absolute;
  left: 82px;
  top: 366px;
  width: 883px;
  height: 140px;
	animation: fadeInDown 1s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s4_8 {
	position: absolute;
  left: 516px;
  top: 321px;
  width: 144px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 2;
}

.s4_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s4_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s4_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}


@keyframes pulseIt {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	opacity: 0;
  }
    1% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	opacity: 1;
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
	opacity: 1;
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	opacity: 0;
  }
}