*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 524px;
  top: 163px;
  width: 483px;
  height: 605px;
	animation: slideInUp 0.7s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 1;
}

.s3 {
	position: absolute;
  left: 47px;
  top: 121px;
  width: 604px;
  height: 49px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 37px;
  top: 284px;
  width: 480px;
  height: 136px;
	animation: zoomIn 0.7s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 50px;
  top: 490px;
  width: 156px;
  height: 140px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 234px;
  top: 490px;
  width: 199px;
  height: 152px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 478px;
  top: 490px;
  width: 162px;
  height: 152px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 0px;
  top: 617px;
  width: 1024px;
  height: 116px;
	animation: none 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 10;
}
