*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 123px;
  top: 41px;
  width: 516px;
  height: 47px;
	animation: none 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 266px;
  top: 97px;
  width: 218px;
  height: 39px;
	animation: none 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 832px;
  top: 721px;
  width: 145px;
  height: 42px;
	animation: none 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 832px;
  top: 721px;
  width: 145px;
  height: 41px;
	animation: revealVerticalUp 1s infinite;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	clip: rect(50px,200px,50px,0px);
	z-index: 5;
}

#canvas {
    position: relative;
    width: 1080px;
    height: 810px;
    background: none;
    overflow: hidden;
	z-index: 10;
}
  
#slider {
    position: absolute;
    left: 84.2%;
    top: 16.5%;
	width: 35px;
	height: 560px;
    transform: translateX(-50%);
    opacity: 0; /* Initially hidden */
    clip-path: inset(100% 0 0 0); /* Hidden from top to bottom */
    transition: opacity 0.3s ease;
	z-index: 10;
}
  
#ball {
    position: absolute;
	top: 73.4%;
	left: 84.2%;
	width: 100px;
	height: 100px;
    transform: translateX(-50%);
    cursor: grab;
    touch-action: none;
	z-index: 10;
}

@keyframes revealVerticalUp {
  0% {
    clip: rect(50px,200px,50px,0px);
  }
  
  100% {
    clip: rect(0px,200px,50px,0px);
  }
}