*{
	margin: 0px;
	padding: 0px;
}

.s10_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s10_2 {
	position: absolute;
  left: 0px;
  top: 250px;
  width: 506px;
  height: 518px;
	animation: fadeInUp 0.3s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}

.s10_3 {
	position: absolute;
  left: 111px;
  top: 471px;
  width: 214px;
  height: 209px;
	animation: zoomIn 0.3s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 6;
}

.s10_4 {
	position: absolute;
  left: 89px;
  top: 85px;
  width: 348px;
  height: 174px;
	animation: fadeInLeft 0.3s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	z-index: 2;
}

.s10_5 {
	position: absolute;
  left: 481px;
  top: 156px;
  width: 348px;
  height: 175px;
	animation: fadeInRight 0.3s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s10_6 {
	position: absolute;
  left: 385px;
  top: 397px;
  width: 347px;
  height: 175px;
	animation: fadeInUp 0.3s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s10_7 {
	position: absolute;
  left: 706px;
  top: 302px;
  width: 261px;
  height: 161px;
	animation: fadeInRight 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s10_8 {
	position: absolute;
  left: 348px;
  top: 488px;
  width: 311px;
  height: 602px;
	animation: slideInUp 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s10_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s10_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}