* {
  margin: 0px;
  padding: 0px;
}

.s6_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s6_2 {
  position: absolute;
  left: 176px;
  top: 444px;
  width: 182px;
  height: 252px;
  animation: tada 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  z-index: 10;
}


.s6_pop1 {
	position: absolute;
	height: 120px;
	width: 220px;
	right: 0px;
	bottom: 0px;
	z-index: 10;
}

.s6_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}